

 body {
    font-family:fantasy;
    text-align: center;
    color: #E9967A;
    font-size: 70px; 
    cursor:grab;
    /* found out you can chagne the cursor */
} 

.box {
    width: 120px;
    height: 120px;
    border: 2px solid;
    background-color: #7B68EE;

    /* close the background color out later. use it to see where it is now */
}

#boxesContainer {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

#startOverBtn {
    color: red;
    font-size: 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: grabbing;
}

#scores {
    font-size: 20px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 10px 20px 0;
    white-space: pre;
}

